.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: "Press Start 2P", system-ui;
    max-width: 700px;
    margin: 4rem auto;
    padding: 0 1rem;
    color: #222;
}

h1,h2,h3,h4,h5,h6 {
    color: #ff2c2c;
}

img.site-logo {
    height: 150px;
    width: 150px;  
}

img {
    height: 250px;
    width: 250px;
}
.nav{
    list-style-type: none;

    margin: 0px;

    padding: 0px;

    border: 6px solid #ff2c2c;

    display: flex;

    justify-content: center;

}

.nav_list{
    display: flex;

    border: 1px solid #222;

}

.nav_link{
    
    display: flex;

    color: #222;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;
}

.battle_moves_ally_container{
    display:flex;
}

.battle_moves_ally{
    display: flex;

    list-style-type: none;

    align-items: flex-start;

    flex-direction: column;

}

.battle_moves_enemy{
    display: flex;

    list-style-type: none;

    align-items: flex-end;

    flex-direction: column;
}

.BattleMovesA{
    display: flex;

    list-style-type: none;

    align-items: flex-end;

    flex-direction: column;

    border: 5px solid #222;

    padding: 10px 10px;

    color: #222;
}

.BattleMovesE{
    display: flex;

    list-style-type: none;

    align-items: flex-end;

    flex-direction: column;

    border: 5px solid #222;

    padding: 10px 10px;

    color: #222;
}

.AllySprite{
    width: 50px;
    height: 50px;
}

.selection-box {
    min-height: 150px;
    margin: 2rem 0;
    padding: 1rem;
    border: 3px solid #222;
    box-sizing: border-box;
}